<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    {% extends "cards.html" %}
    {% block play %}

<p>Teraz kolej postaci {{ character }}</p>
        {% if resources == True %}
            <a href="/resource/{{ character }}">Pobierz zasoby</a>
        {% endif %}
        {% if skill == True %}
            <a href="/skill/{{ character }}">Użyj zdolności postaci</a>
        {% endif %}
        {% if resources == False %}
            <a href="/game/{{ level+1 }}">Koniec kolejki</a>
        {% endif %}
{% endblock %}
{% block districts %}
            {% if (build == True and resources == False) or (build == True and architect_count>0) %}
              {% for i in next_player.districts_in_hand %}
                  {% if architect_count>0 and architect_count<=4 %}
                  <td><a href="/build/{{ i.name }}/{{ architect_count }}"> <img src="/static/{{ i.name }}.jpg" class="district"/>Wybuduj</a> </td>
                  {% else %}
                   <td><a href="/build/{{ i.name }}/0"> <img src="/static/{{ i.name }}.jpg" class="district"/>Wybuduj</a> </td>
                  {% endif %}
               {% endfor %}
            {% else %}
                {% for i in next_player.districts_in_hand %}
                   <td><img src="/static/{{ i.name }}.jpg" class="district"/></td>
                {% endfor %}
            {% endif %}
        {% endblock %}
  </body>
</html>