<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    {% extends "cards.html" %}
    {% block play %}

<p>Teraz kolej postaci {{ character }}</p>
        {% if resources == True %}
            <a href="/resources">Pobierz zasoby</a>
        {% endif %}
        {% if build == True %}
            <a href="/build">Zbuduj dzielnicę</a>
        {% endif %}
        {% if skill == True %}
            <a href="/skill">Użyj zdolności postaci</a>
        {% endif %}
        <a href="/game">Koniec kolejki</a>

    {% endblock %}
  </body>
</html>